.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.modalContainer ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #121F30;
}

.modalContainer :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #121F30;
  opacity: 1;
}

.modalContainer ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #121F30;
  opacity: 1;
}

.modalContainer :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #121F30;
}

.modalContainer ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #121F30;
}

.modalContainer .modal {
  position: relative;
  width: 320px;
  pointer-events: auto;
}

.modalContainer .modalHeader .close {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  padding: 8px;
  cursor: pointer;
}

.modalContainer .modalHeader .close img {
  width: 25px;
}

.modalContainer .modalHeader h3 {
  position: relative;
  z-index: 2;
  background: #073457;
  padding: 16px;
  line-height: 32px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Fredericka the Great", cursive;
  color: #fff;
  text-align: center;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.modalContainer .modalContent {
  max-height: 100vh;
  max-height: calc(90vh - 10px);
  background: #fff;
  position: relative;
  overflow: auto;
  background: #F7F7F7;
  z-index: 1;
  border-radius: 0 0 4px 4px;
}

.modalContainer .modalContent .contentContainer .card {
  margin: 10px;
  border-radius: 4px;
  padding: 15px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .6s ease;
  transition: .6s ease;
  background: #fff;
  position: relative;
}

.modalContainer .modalContent .contentContainer .card img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 10px solid rgba(0, 0, 0, 0.1);
  display: block;
  margin-bottom: 15px;
}

.modalContainer .modalContent .contentContainer .card img.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

.modalContainer .modalContent .contentContainer .card h4 {
  font-weight: 700;
  padding-bottom: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border-bottom: 1px solid #F7F7F7;
  color: #121F30;
}

.modalContainer .modalContent .contentContainer .card textarea {
  font-size: 16px;
}

.modalContainer .modalContent .contentContainer .card .input {
  margin-bottom: 0;
  color: #121F30;
  border: 1px solid #f2f2f2;
}

.modalContainer .modalContent .contentContainer .card .input:focus {
  border: 1px solid #dedddd;
}

.modalContainer .modalContent .contentContainer .button {
  padding: 6px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #1D9CA7;
  border: 1px solid #1D9CA7;
  color: #fff;
  cursor: pointer;
}

.modalContainer .modalContent .contentContainer .button:hover {
  background: none;
  color: #1D9CA7;
}

.modalContainer .modalContent .contentContainer .button.cancel {
  border: 1px solid #D75A4A;
  background: #D75A4A;
}

.modalContainer .modalContent .contentContainer .button.cancel:hover {
  background: none;
  color: #D75A4A;
}

.modalContainer .modalContent .contentContainer .button.delete {
  background: none;
  margin-bottom: 0px;
  line-height: 1;
  vertical-align: top;
  border: 1px solid #D75A4A;
}

.modalContainer .modalContent .contentContainer .button.delete .lnr {
  margin-right: 0;
  font-size: 26px;
  font-weight: 400;
  color: #D75A4A;
}

.modalContainer .modalContent .contentContainer .button.delete:hover {
  background: #D75A4A;
  border: 1px solid #D75A4A;
}

.modalContainer .modalContent .contentContainer .button.delete:hover .lnr {
  color: #fff;
}

.modalBg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background: rgba(26, 36, 48, 0.55);
  opacity: 0;
}

.actions {
  float: right;
}

.actions button:hover {
  background: #1D9CA7;
  color: #fff;
  border: 1px solid #1D9CA7;
}

.actions button:hover span {
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #313131;
  background: #121F30;
  font-family: "Open Sans Condensed", sans-serif;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #1c2736 inset;
  -webkit-text-fill-color: #fff;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #fff;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-height {
  position: relative;
  height: 100vh;
  width: 100%;
}

ul li {
  list-style-type: none;
}

h1 {
  font-family: "Fredericka the Great", cursive;
  line-height: 1;
  color: #fff;
}

button {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

a.button {
  font-weight: 700;
}

a:visited {
  color: #313131;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  font-size: 1.2em;
  margin-bottom: 5px;
  font-family: "Open Sans Condensed", sans-serif;
  border: 0;
  outline: 0;
}

.button {
  cursor: pointer;
  background: #fff;
  padding: 15px;
  font-size: 1.1em;
  border-radius: 10px;
}

.intro {
  position: relative;
  z-index: 1;
  color: #fff;
  background: #1F2C3D;
  padding: 50px 0px;
  text-align: center;
  border-radius: 40% 50% 40% 50%;
}

.intro h1 {
  margin-top: 40px;
}

.intro p {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.intro .buttons {
  margin-bottom: 55px;
  margin-top: 40px;
}

.intro .buttons .button.orange {
  background: #EE7418;
  color: #fff;
  margin-left: 10px;
}

.animal-bg {
  width: 120px;
  position: absolute;
}

.main {
  overflow: hidden;
}

.main .animal-bg.hagedis {
  top: -35px;
  left: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main .animal-bg.olifant {
  top: -70px;
  right: 25px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  width: 180px;
}

.main .animal-bg.krokodil {
  top: -60px;
  left: 35%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  width: 180px;
}

.main .animal-bg.giraf {
  bottom: -110px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 140px;
  left: 45%;
}

.mainwrap {
  position: relative;
  width: 50%;
  max-width: 600px;
}

.bg-animals {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#start h1 {
  font-size: 6rem;
}

#login h1 {
  font-size: 4rem;
}

.form {
  margin: 0 auto;
  display: block;
  max-width: 250px;
  padding: 5px;
  margin-top: 40px;
}

.form input {
  color: #fff;
  background-color: #1c2736;
  border-bottom: 2px solid #121F30;
}

.form input:focus {
  background-color: #18222f;
}

#kidsnav {
  background: #0F6E75;
}

#kidsnav ul li:first-child {
  position: absolute;
  top: 25px;
  left: 13px;
}

#kidsnav ul li:first-child a.selected,
#kidsnav ul li:first-child a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin: auto;
}

#kidsnav ul li:first-child .coins {
  background: #1D9CA7;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  position: relative;
}

#kidsnav ul li:first-child .coins img {
  width: 14px;
  height: auto;
  vertical-align: middle;
  margin-top: -1px;
  margin-right: 5px;
}

#kidsnav ul li:first-child .coins:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #1D9CA7;
  top: -7px;
  left: 50%;
  -webkit-transform: translateX(-7px);
          transform: translateX(-7px);
}

#kidsnav ul li:first-child a {
  overflow: hidden;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 0;
}

#kidsnav ul li:first-child img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

#kidsnav ul li a {
  background: #147E87;
}

#kidsnav ul li a.selected {
  background: #1D9CA7;
}

.navbar-leftfixed {
  z-index: 3;
  height: 100vh;
  width: 90px;
  position: fixed;
  background: #073457;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.navbar-leftfixed nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar-leftfixed nav ul {
  text-align: center;
}

.navbar-leftfixed nav ul li {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.navbar-leftfixed nav ul li a {
  display: block;
  background: #d1d1d1;
  border-radius: 50% 50% 40% 40%;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 50px;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar-leftfixed nav ul li a.selected {
  background: #EE7418;
}

.navbar-leftfixed nav ul li a.selected,
.navbar-leftfixed nav ul li a:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin: 7px auto;
}

.navbar-leftfixed nav ul li a img {
  width: 30px;
}

#contentKids {
  background: #1D9CA7;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contentParents {
  height: 100vh;
}

.content {
  position: relative;
  margin-left: 90px;
  overflow-y: hidden;
  min-height: 100vh;
}

.content #kids .cardHeader h1 {
  font-size: 50px;
}

.content #kids .card {
  max-width: 450px;
  width: 50%;
}

.content #kids .card .searchBooks {
  padding-bottom: 10px;
  position: relative;
}

.content #kids .card .searchBooks ul {
  position: absolute;
  width: 100%;
  z-index: 4;
  color: #fff;
  display: block;
  max-height: 255px;
  overflow-y: auto;
}

.content #kids .card .searchBooks ul li {
  min-height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(31, 44, 61, 0.9);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.content #kids .card .searchBooks ul li:last-child {
  border-bottom: 0;
}

.content #kids .card .searchBooks ul li > span {
  padding-left: 15px;
}

.content #kids .card .searchBooks ul li:hover {
  background: rgba(40, 56, 78, 0.9);
}

.content #kids .card .searchBooks ul li div:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  width: 50%;
}

.content #kids .card .searchBooks ul li h2 {
  border: none;
  font-weight: 700;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 5px;
  line-height: 1;
  margin: 0;
}

.content #kids .card .searchBooks ul li img {
  display: block;
  width: 70px;
  height: 80px;
  margin-right: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content #kids .card .searchBooks ul li .openBookBtn {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
}

.content #kids .card .searchBooks ul li .openBookBtn img {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.content #kids .cardImage .image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 10px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px;
          box-shadow: 0px 0px;
}

.content #kids .cardImage .image img {
  border-radius: 50%;
}

.content .cardswrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% + 15px);
  margin-bottom: 15px;
  overflow-x: auto;
}

.content .cardswrap .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  width: 33.33%;
  min-width: 450px;
}

.content .cardswrap .card:hover .actions {
  opacity: 1;
}

.content .cardswrap .card .actions {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 0;
  position: absolute;
  right: 10px;
  width: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #F7F7F7;
  height: 40px;
  border-radius: 50%;
}

.content .cardswrap .card .actions button {
  width: 40px;
  height: 40px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: 0;
}

.content .cardswrap .card .actions img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
}

.content .cardswrap .card:last-child {
  border-right: 1px solid #121F30;
}

.content .cardswrap .card .cardHeader {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 20px 0;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .cardswrap .card .cardHeader h1 {
  text-transform: uppercase;
  max-width: 320px;
  text-align: center;
  font-size: 30px;
  word-break: break-word;
}

.content .cardswrap .card .cardImage {
  padding: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.content .cardswrap .card .cardImage .image {
  width: 60%;
  height: 30vh;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  border: 10px solid rgba(0, 0, 0, 0.2);
}

.content .cardswrap .card .cardImage.online .image:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #D75A4A;
  top: 0;
  right: 0;
}

.content .cardswrap .card .cardImage img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .cardswrap .card .cardImage img[class] {
  width: 100%;
}

.content .cardswrap .card .cardImage .page {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.content .cardswrap .card .cardInfo {
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.content .cardswrap .card .cardInfo h2 {
  line-height: 1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 400;
  border-bottom: 1px solid rgba(247, 247, 247, 0.1);
  margin-top: 15px;
}

.content .cardswrap .card .cardInfo h2:first-child {
  margin-top: 0px;
}

.content .cardswrap .card .cardInfo textarea {
  font-size: 16px;
}

.content .cardswrap .card .cardInfo input,
.content .cardswrap .card .cardInfo textarea {
  background: rgba(247, 247, 247, 0.1);
  color: #fff;
}

.content .cardswrap .card .cardInfo,
.content .cardswrap .card .cardInfo textarea {
  height: 100%;
}

.content .cardswrap .card:nth-child(1n + 1) {
  background: #1D9CA7;
}

.content .cardswrap .card:nth-child(1n + 1) .cardImage {
  background: #147E87;
}

.content .cardswrap .card:nth-child(1n + 1) .cardInfo {
  background: #0F6E75;
}

.content .cardswrap .card:nth-child(2n + 1) {
  background: #073457;
}

.content .cardswrap .card:nth-child(2n + 1) .cardImage {
  background: #212A51;
}

.content .cardswrap .card:nth-child(2n + 1) .cardInfo {
  background: #1D2446;
}

.content .cardswrap .card:nth-child(3n + 1) {
  background: #69306D;
}

.content .cardswrap .card:nth-child(3n + 1) .cardImage {
  background: #542657;
}

.content .cardswrap .card:nth-child(3n + 1) .cardInfo {
  background: #48204D;
}

.content .addButton .addBtn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #F7F7F7;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.content .addButton .addBtn#cameraBtn {
  right: 100px;
}

.content .addButton .addBtn img {
  width: 30px;
}

.progress-bar {
  height: 4px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  width: 100%;
}

.progress-bar .progress {
  background: #EE7418;
  opacity: 1;
  width: 0;
  border-radius: 14px;
  height: 100%;
}

#childLoginWrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#childLogin {
  position: relative;
  border-radius: 40%;
  max-width: 800px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px;
}

#childLogin .heading {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#childLogin .heading h1 {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 50px;
  text-align: center;
}

#childLogin #children {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  background: #1F2C3D;
  padding: 25px;
}

#childLogin #children .animal-bg {
  z-index: -1;
  width: 150px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#childLogin #children .animal-bg.zebra {
  width: 170px;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  left: 50px;
  top: 50px;
}

#childLogin #children .animal-bg.leeuw {
  right: 50px;
  top: 50px;
}

#childLogin #children .animal-bg.show.leeuw {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  right: -90px;
  top: -50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#childLogin #children .animal-bg.show.zebra {
  left: -90px;
  top: -20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#childLogin #children.smaller {
  height: 600px;
  max-width: 400px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#childLogin #children .childrenWrap {
  cursor: pointer;
  padding: 0px 25px;
  margin-bottom: 25px;
}

#childLogin #children .childrenWrap .childSelected {
  margin-top: 0px;
}

#childLogin #children .childrenWrap.childSelected {
  width: 100%;
  display: block !important;
}

#childLogin #children .childrenWrap .image {
  margin: 0 auto;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 10px solid rgba(18, 31, 48, 0.8);
  -webkit-box-shadow: 0px 0px;
          box-shadow: 0px 0px;
}

#childLogin #children .childrenWrap .image img {
  border-radius: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#childLogin #children .childrenWrap .image img[class] {
  width: 100%;
}

#childLogin #children .childrenWrap .childName span {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  display: block;
  margin-top: 15px;
}

.QRscan {
  height: 0px;
  width: 0px;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
  position: relative;
}

.QRscan.show {
  height: 320px;
  width: 320px;
}

.QRscan.show span {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.QRscan.show span:first-child,
.QRscan.show span:nth-child(2) {
  border-top: 8px solid rgba(247, 247, 247, 0.5);
  top: 0;
}

.QRscan.show span:last-child,
.QRscan.show span:nth-last-child(2) {
  border-bottom: 8px solid rgba(247, 247, 247, 0.5);
  bottom: 0;
}

.QRscan.show span:first-child,
.QRscan.show span:last-child {
  left: 0;
  border-left: 8px solid rgba(247, 247, 247, 0.5);
}

.QRscan.show span:nth-child(2),
.QRscan.show span:nth-last-child(2) {
  right: 0;
  border-right: 8px solid rgba(247, 247, 247, 0.5);
}

.QRscan .previewWrap {
  width: 320px;
  height: 320px;
  overflow: hidden;
  z-index: 1;
}

.QRscan .previewWrap:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fa816b), color-stop(6%, rgba(250, 129, 107, 0.95)), to(rgba(237, 102, 90, 0.15)));
  background: linear-gradient(to bottom, #fa816b 0%, rgba(250, 129, 107, 0.95) 6%, rgba(237, 102, 90, 0.15) 100%);
  top: 0;
  left: 0;
  -webkit-animation: scan 4s infinite ease;
          animation: scan 4s infinite ease;
}

.QRscan #preview {
  width: 320px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.backbtn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #F7F7F7;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.backbtn.show {
  opacity: 1;
}

.backbtn img {
  width: 30px;
  vertical-align: middle;
  margin-top: -2px;
}

.backbtn a {
  font-weight: 700;
  color: #fff;
}

@-webkit-keyframes scan {
  0% {
    top: 0;
  }

  50% {
    top: 100%;
  }

  100% {
    top: 0;
  }
}

@keyframes scan {
  0% {
    top: 0;
  }

  50% {
    top: 100%;
  }

  100% {
    top: 0;
  }
}

.cardGridWrap {
  padding: 15px;
}

.cardGridWrap#profileDash {
  padding: 0;
  color: #fff;
  width: 100%;
  max-width: 960px;
}

.cardGridWrap#profileDash h1 {
  font-size: 40px;
}

.cardGridWrap#profileDash .profileinfo {
  margin: 15px;
  background: rgba(20, 126, 135, 0.8);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.cardGridWrap#profileDash .profileinfo .leftProfile {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  padding-right: 15px;
}

.cardGridWrap#profileDash .profileinfo .leftProfile .statistics {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(247, 247, 247, 0.2);
  border-bottom: 1px solid rgba(247, 247, 247, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardGridWrap#profileDash .profileinfo .leftProfile .statistics .statisticItem {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.cardGridWrap#profileDash .profileinfo .leftProfile .statistics .statisticItem img {
  width: 40px;
}

.cardGridWrap#profileDash .profileinfo .leftProfile .statistics .statisticItem p {
  padding: 0;
  margin: 0;
  line-height: 1;
}

.cardGridWrap#profileDash .profileinfo .leftProfile .statistics .statisticItem p:nth-child(2) {
  line-height: 50px;
  font-size: 40px;
  font-weight: 700;
}

.cardGridWrap#profileDash .profileinfo .leftProfile .statistics .statisticItem p:nth-child(3) {
  font-size: 12px;
}

.cardGridWrap#profileDash .profileinfo .rightProfile {
  text-align: center;
  margin: 0 auto;
}

.cardGridWrap#profileDash .profileinfo .rightProfile h2 {
  font-size: 35px;
  height: 20%;
  padding-top: 15px;
  font-family: "Fredericka the Great", cursive;
}

.cardGridWrap#profileDash .profileinfo .rightProfile .bookProfile {
  position: relative;
  height: 80%;
}

.cardGridWrap#profileDash .profileinfo .rightProfile .bookProfile .progress-bar {
  height: 10px;
}

.cardGridWrap#profileDash .profileinfo .rightProfile .bookProfile img {
  border: 10px solid #0F6E75;
  border-radius: 10px;
  height: 100%;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cardGridWrap#profileDash .profileBookLog {
  margin: 15px;
  padding: 15px;
  padding-bottom: 0px;
  background: rgba(20, 126, 135, 0.8);
  border-radius: 10px;
}

.cardGridWrap#profileDash .profileBookLog h2 {
  font-size: 35px;
  margin-bottom: 15px;
  line-height: 35px;
  font-family: "Fredericka the Great", cursive;
}

.cardGridWrap .profileWrap {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid rgba(15, 110, 117, 0.8);
  overflow: hidden;
}

.cardGridWrap .profileWrap .profilepic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cardGridWrap h1 {
  font-size: 70px;
  text-align: center;
  padding-top: 20px;
}

.cardGridWrap .helpDescription {
  color: #fff;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

.cardGridWrap .helpDescription .button {
  margin-top: 50px;
  width: 150px;
  background: #EE7418;
  color: #fff;
}

.cardGridWrap .helpDescription p {
  font-weight: 700;
}

.cardGridWrap .cardGrid {
  padding-top: 20px;
  overflow: hidden;
  margin: 30px auto;
  max-width: 1200px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
}

.cardGridWrap .cardGrid .card {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-column-break-inside: avoid;
          break-inside: avoid-column;
  background: #fff;
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
}

.cardGridWrap .cardGrid .card .cardHeader {
  margin: 0px 15px;
}

.cardGridWrap .cardGrid .card .cardHeader h2 {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  line-height: 50px;
  margin-top: 0px;
}

.cardGridWrap .cardGrid .card .cardtumb {
  width: 100%;
}

.cardGridWrap .cardGrid .card .cardtumb .image {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 140px;
  overflow: hidden;
  margin: 15px;
  margin-top: 0px;
  position: relative;
}

.cardGridWrap .cardGrid .card .cardtumb .image img {
  margin-top: -30px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.cardGridWrap .cardGrid .card .cardtumb .image img[class] {
  width: 100%;
}

.cardGridWrap .cardGrid .card .cardTitle {
  margin: 15px;
}

.cardGridWrap .cardGrid .card .cardTitle p {
  max-width: 300px;
}

.cardGridWrap .cardGrid .card .cardAction {
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
}

.cardGridWrap .cardGrid .card .cardAction button {
  width: 100%;
  padding: 15px;
  border-radius: 0px 0px 10px 10px;
  background: #147E87;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.cardGridWrap .cardGrid .card .cardAction button img {
  vertical-align: top;
  margin-left: 15px;
  margin-right: 5px;
  width: 20px;
}

.cardGridWrap .QRscan {
  margin: 0 auto;
  margin-bottom: 10px;
}

#prices {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

#childBooks.booklogCarousel {
  padding-bottom: 40px;
}

#childBooks.booklogCarousel h3 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.booklogCarousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 15px;
  color: #fff;
}

.booklogCarousel div {
  cursor: pointer;
}

.booklogCarousel .card {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  min-width: 162px;
  width: 162px;
  height: 130px;
  margin-right: 15px;
  border-radius: 5px;
  border: 5px solid #0F6E75;
  background: #fff;
  color: #313131;
  position: relative;
}

.booklogCarousel .card .progress-bar {
  bottom: -4px;
}

.booklogCarousel .card .image {
  height: 85px;
  overflow: hidden;
}

.booklogCarousel .card .cardHeader h3 {
  font-weight: 700;
  white-space: nowrap;
  width: 150px;
  line-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  text-align: center;
}

.booklogCarousel .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.booklogCarousel .bookitem {
  min-width: 100px;
  width: 100px;
  height: 130px;
  position: relative;
  margin-right: 15px;
}

.booklogCarousel .bookitem button {
  background: none;
  width: 20px;
  height: 20px;
  border: 0;
  outline: 0;
  right: -7px;
  top: -7px;
  position: absolute;
}

.booklogCarousel .bookitem button img {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
}

.booklogCarousel .bookitem.finished {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.booklogCarousel .bookitem.currentlyReading:after {
  position: absolute;
  content: 'Huidig boek';
  left: 0;
  border-radius: 4px 0px 0px 0px;
  top: 0;
  background: rgba(238, 116, 24, 0.9);
  font-size: 12px;
  font-weight: 700;
  padding: 2px 5px;
}

.booklogCarousel .bookitem img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: 5px solid #0F6E75;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  -o-object-fit: cover;
     object-fit: cover;
}

#childBooksReading.booklogCarousel {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10px;
}

#childBooksReading.booklogCarousel .bookitem {
  cursor: default;
  width: 29%;
  margin-bottom: 40px;
}

#childBooksReading.booklogCarousel .bookitem img {
  border: 5px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

#childBooksReading.booklogCarousel .bookitem .bookTitle h3 {
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#scanWrap {
  max-width: 800px;
  background: rgba(20, 126, 135, 0.8);
  border-radius: 10px;
}

#reward {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  max-width: 850px;
}

#reward .card h1 {
  font-size: 60px;
  padding-bottom: 50px;
}

#reward .card .iframe {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  background: rgba(20, 126, 135, 0.8);
  border: 10px solid #0F6E75;
  border-radius: 10px;
}

#reward .card .iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundAnimalsCode {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: fixed;
  height: 100%;
  width: 320px;
  z-index: 1;
  opacity: 0;
  left: -320px;
}

.backgroundAnimalsCode.show {
  opacity: 1;
  left: 300px;
}

.backgroundAnimalsCode.show .animal-bg {
  width: 180px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.parentcode {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: #147E87;
  position: fixed;
  top: 0;
  max-width: 320px;
  width: 100%;
  z-index: 2;
  left: -320px;
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 5px -1px 24px -6px rgba(0, 0, 0, 0.55);
  box-shadow: 5px -1px 24px -6px rgba(0, 0, 0, 0.55);
}

.parentcode.show {
  left: 90px;
}

.parentcode .parentCodeWrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      align-self: center;
}

.parentcode .head h2 {
  display: block;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.parentcode .code {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 35px;
}

.parentcode .code span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background: rgba(31, 44, 61, 0.7);
  border-radius: 50%;
}

.parentcode .code span:last-child {
  margin-right: 0px;
}

.parentcode .keyPad .grid {
  width: 250px;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-gap: 20px;
}

.parentcode .keyPad .grid .key {
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  padding-top: 23px;
  font-weight: 700;
  height: 70px;
  background: rgba(31, 44, 61, 0.2);
}

.parentcode .codeSubmit {
  text-align: center;
  margin-top: 50px;
}

.parentcode .codeSubmit button {
  cursor: pointer;
  width: 125px;
  padding: 10px 0px;
  border-radius: 10px;
  background: rgba(31, 44, 61, 0.5);
  color: #fff;
  font-size: 18px;
}

.parentcode .codeSubmit button.orange {
  background: #EE7418;
}

.arrow {
  cursor: pointer;
  position: fixed;
  z-index: 1;
  height: 55px;
  top: calc(25% - 55px);
  width: 55px;
  opacity: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.arrow:hover {
  opacity: 1;
}

.arrow img {
  width: 40px;
}

.arrow.next {
  right: 0;
}

.arrow.prev {
  left: 90px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  h1 {
    font-size: 5rem;
  }

  .mainwrap {
    margin: 0px 5px;
    width: 100%;
  }

  .mainwrap h1 {
    position: relative;
    z-index: 1;
    margin-top: 20px;
  }

  .mainwrap .buttons {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    height: auto;
  }

  .arrow {
    visibility: hidden;
  }

  .arrow.prev {
    left: 0px;
  }

  .backgroundAnimalsCode.show {
    left: 210px;
  }

  .parentcode {
    height: calc(100% - 90px);
    bottom: 0;
    top: auto;
  }

  .parentcode.show {
    left: 0px;
  }

  #contentParents {
    height: auto;
  }

  .navbar-leftfixed {
    z-index: 5;
    height: 90px;
    width: 100%;
    top: 0;
    position: fixed;
  }

  .navbar-leftfixed nav ul li {
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 15px;
  }

  .content {
    height: auto;
    margin-left: 0px;
    margin-top: 90px;
    min-height: calc(100vh - 90px);
  }

  .content .cardswrap {
    display: block;
    height: auto;
    margin-bottom: 0px;
  }

  .content .cardswrap .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: 100%;
    width: 33.33%;
    min-width: 100%;
    border-left: 1px solid #121F30;
  }

  .content .cardswrap .card:last-child {
    border-right: 1px solid #121F30;
  }

  .content .cardswrap .card .cardHeader {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 20px 0;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .content .cardswrap .card .cardHeader h1 {
    text-align: center;
    font-size: 30px;
  }

  .content .cardswrap .card .cardInfo textarea {
    height: 100%;
    min-height: 150px;
  }
}

@media only screen and (max-device-width: 414px) {
  .main {
    overflow: hidden;
  }

  .main .animal-bg.olifant {
    display: none;
  }

  .main .animal-bg.krokodil {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
    left: auto;
    right: -30px;
    top: -25px;
  }

  #login .intro {
    border-radius: 4px;
  }

  #login .animal-bg.hagedis {
    display: none;
  }

  #login .animal-bg.olifant {
    display: none;
  }

  #login .animal-bg.krokodil {
    display: none;
  }

  #login .animal-bg.giraf {
    display: none;
  }

  #childLoginWrap {
    height: auto;
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: rgba(247, 247, 247, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

.flash {
  -webkit-animation-name: flash-animation;
  -webkit-animation-duration: 0.3s;
  animation-name: flash-animation;
  animation-duration: 0.3s;
}

@-webkit-keyframes flash-animation {
  from {
    background: #EE7418;
  }

  to {
    background: default;
  }
}

@keyframes flash-animation {
  from {
    background: #EE7418;
  }

  to {
    background: default;
  }
}

